@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
}
.bckg {
  background-color: #ffffff;
  background-image: linear-gradient(
    135deg,
    #ffffff 0%,
    #ef885c6e 66%,
    #9b5a66af 100%
  );
}

.navigbar {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  margin: 3rem;
}
.logo {
  height: 3rem;
}
.svg {
  width: 2.5rem;
}
.nav-els {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50vh;
  transform: translateX(0);
  text-decoration: none;
}

.nav-els > ul > li > a {
  text-decoration: none;
  color: #a55666;
}
.nav-els > ul > li {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 2rem;
}
.nav-els > ul > li:hover {
  cursor: pointer;
  flex-wrap: wrap;
  width: 10rem;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.imgContainer {
  width: 80rem;
  margin-bottom: 2rem;
}
.project-container h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.project-container p {
  font-size: 1.2rem;
  margin: 2rem;
}

.project-container ul {
  font-size: 1.2rem;
  margin: 2.1rem;
}

.description {
  font-size: 1.1rem;
}

.description p {
  margin-bottom: 1rem;
}
